@model PagedList.IPagedList<RTA_Project_MVC.Models.ArticleViewModel>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Новости</h2>

@if (User.IsInRole("Host"))
{
    <button class="btn btn-default" onclick="window.location.href='@Url.Action("Create")'">Добавить</button>
}


@foreach (var item in Model)
{

    <div class="row" id="@item.Id">
        <center><label id="news-header">@item.Title</label></center>
        <div class="col-md-12 col-sm-8 col-xs-6" style="padding: 0 32px;">
            <div>
                <label>@String.Format("{0:dd/MM/yyyy}", item.Date)</label>
                <div>@Html.Raw(WebUtility.HtmlDecode(item.Content))</div>
            </div>

            @if (User.IsInRole("Host"))
            {
                <span>@Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |</span>
                <span>@Ajax.ActionLink("Удалить", "Delete", new { id = item.Id }, new AjaxOptions
                 { HttpMethod = "DELETE", UpdateTargetId=item.Id.ToString(), InsertionMode= InsertionMode.Replace})</span>
            }

        </div>
    </div>

}


<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}