@using Microsoft.AspNet.Identity


@{
    int day = (int)DateTime.Now.DayOfWeek;
    string imgDoorNormal = $"/Resources/ui/jog/DoorNormal_{day}.png";
    string imgDoorPushed = $"/Resources/ui/jog/DoorPushed_{day}.png";
}


<style>
    .jog-btn.center {
        background: url('@imgDoorNormal')
    }

    .jog-btn.center:active {
        background: url('@imgDoorPushed')
    }
</style>




@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <label id="greetings-panel">@User.Identity.GetUserName()</label>     

        <div class="jog-5">

            <a class="jog-btn upper left" href="@Url.Action("Index","Profile")">
                <span class="tooltiptext">Мой профиль</span>
            </a>
            @if (User.IsInRole("Admin"))
            {
            <a class="jog-btn upper right adm-btn" href="@Url.Action("Index","UsersAdmin")">
                <span class="tooltiptext">Админ</span>
            </a>
            }
            else
            {
                <a class="jog-btn upper right reg-btn" id="grayed-out"></a>
            }

                <a class="jog-btn center" href="javascript:document.getElementById('logoutForm').submit()">
                    <span class="tooltiptext">Выход</span>
                </a>

                <a class="jog-btn lower left" href="#">
                    <span class="tooltiptext">Мои матчи</span>
                </a>
                <a class="jog-btn lower right" href="@Url.Action("Index","Manage")">
                    <span class="tooltiptext">Настройки аккаунта</span>
                </a>

        </div>

    }
}

else
{
    <label id="greetings-panel">Гость</label>

    <div class="jog-5">

        <a class="jog-btn upper left" id="grayed-out"></a>
        <a class="jog-btn upper right reg-btn" href="@Url.Action("Register","Account")">
            <span class="tooltiptext">Регистрация</span>
        </a>
        <a class="jog-btn center" href="@Url.Action("LogIn","Account")">
            <span class="tooltiptext">Вход</span>
        </a>
        <a class="jog-btn lower left" id="grayed-out"></a>
        <a class="jog-btn lower right" id="grayed-out"></a>

    </div>

}

