<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div id="maincontainer">


        <div id="left">

            <div id="ltop"></div>

            <div id="jog-area">


                @Html.Partial("_AccountJogPartial")


            </div>

            <div id="lseparator"></div>

            <div id="nav-block">
                <a class="btn btn-block" href="http://forum.heroesleague.ru/viewtopic.php?f=27&t=20883">
                    <img src="/Resources/icons/H5Pathfinding.png" height="34" width="34" />
                    Все об RTA
                </a>
                <a class="btn btn-block" href="@Url.Action("Index", "News")">
                    <img src="/Resources/icons/H5BasicLeadership.png" height="34" width="34" />
                    Новости
                </a>
                <a class="btn btn-block" href="@Url.Action("Index", "Tournament")">
                    <img src="/Resources/icons/H5Empathy.png" height="34" width="34" />
                    Турниры
                </a>
                <a class="btn btn-block" href="http://forum.heroesleague.ru/viewtopic.php?f=14&t=22488">
                    <img src="/Resources/icons/ExpPic.png" height="34" width="34" />
                    Рейтинг
                </a>
                <a class="btn btn-block" href="@Url.Action("Index", "Statistics")">
                    <img src="/Resources/icons/H5Scholar.png" height="34" width="34" />
                    Статистика
                </a>
                <a class="btn btn-block" href="#">
                    <img src="/Resources/icons/H5ExpertTrainer.png" height="34" width="34" />
                    Руководства
                </a>
                <a class="btn btn-block" href="http://forum.heroesleague.ru/">
                    <img src="/Resources/icons/H5Diplomacy.png" height="34" width="34" />
                    Форум
                </a>
                <a class="btn btn-block" href="https://discord.gg/DCxUAvY">
                    <img src="/Resources/icons/discord-logo.png" height="34" width="34" />
                    Сервер Discord
                </a>
            </div>

            <div id="lseparator"></div>

            @*<div id="larea"></div>
            <div id="lseparator"></div>*@

            <div id="lbot"></div>

        </div>

        <div id="right">


            <div id="rtop"></div>

            <div id="rtop2"></div>
            <div id="ltcorn"></div>
            <div id="rtcorn"></div>


            <div class="body-content">

                @RenderBody()

            </div>

            <div id="rbot2"></div>
            <div id="ltcorn2"></div>
            <div id="rtcorn2"></div>


        </div>



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>

</body>
</html>
