@model RTA_Project_MVC.Models.TournamentCreateModel

<script src="~/Plugins/ckeditor/ckeditor.js"></script>

<h2>Создание турнира</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.NameRus, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.NameRus, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.NameRus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MapVersion, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.MapVersion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MapVersion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsOfficial, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.CheckBoxFor(model => model.IsOfficial, new { @id = "checkboxofficial" })
            </div>
        </div>

        <div class="form-group" id="yeardiv" style="display:none">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", min = 2020, max = 2050 } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsSeasonal, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.CheckBoxFor(model => model.IsSeasonal, new { id = "checkboxseasonal" })
            </div>
        </div>

        <div class="form-group" id="seasondiv" style="display:none">
            @Html.LabelFor(model => model.Season, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.Season, Model.Seasons)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Is2Stage, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.CheckBoxFor(model => model.Is2Stage, new { id = "checkbox2stage" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" id="stage1desc">Формат турнира</label>
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.Stage1Format, Model.Formats)
            </div>
        </div>

        <div class="form-group" id="stage2div" style="display:none">
            <label class="control-label col-md-3" id="stage1desc">Формат 2го этапа</label>
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.Stage2Format, Model.Formats)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPrivate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.CheckBoxFor(model => model.IsPrivate)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Добавить организаторов</label>
            <div class="col-md-9">
                <div>
                    @Html.DropDownList("Host", Model.HostsAvailable, "Выбрать", new { id = "hosts-dropdown" })
                    <a class="btn jog-btn plus-btn" style="display:none"></a>
                </div>

                <div id="hosts-container">

                </div>

            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContentRus, htmlAttributes: new { @class = "control-label col-md-3" })
            @Html.ValidationMessageFor(model => model.ContentRus, "", new { @class = "text-danger col-md-9" })
            <div class="col-md-12" style="margin-top: 10px">
                @Html.TextAreaFor(model => model.ContentRus, new { @id = "TournamentDescription", @class = "form-control" })
                <script>
                    CKEDITOR.replace("TournamentDescription", { htmlEncodeOutput: true });
                </script>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-9">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/tournament-create.js")

}
