@model RTA_Project_MVC.Models.TournamentDetailsModel


<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.NameRus)</h4>
    <hr />
    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.MapVersion):
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.MapVersion)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.DateCreated):
            </div>
            <div class="col-md-10">
                @String.Format("{0:dd/MM/yyyy}", Model.DateCreated)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.TournamentHosts):
            </div>
            <div class="col-md-10">
                @String.Join(", ", Model.TournamentHosts)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.TournamentPlayers):
            </div>
            <div class="col-md-10">

                @foreach (var item in Model.TournamentPlayers)
                {
                    @Html.ActionLink(item, "Index", "Profile", new { name = item }, null)
                    if (item != Model.TournamentPlayers.Last())
                    {@(", ")}

            }

            </div>
        </div>
    </div>

        @Html.Raw(WebUtility.HtmlDecode(Model.Content))

    @if (!Model.IsFinished && !Model.IsActive)
    {
        using (Html.BeginForm("Register", "Tournament", new { id = Model.Id }, FormMethod.Post))
        {
            <input type="submit" class="btn btn-default" value="Регистрация" />
        }
    }


</div>
