@model PagedList.IPagedList<RTA_Project_MVC.Models.TournamentPreviewModel>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Турниры</h2>

<hr />

@if (User.IsInRole("Host"))
{
    <button class="btn btn-default" onclick="window.location.href='@Url.Action("Create")'">Создать</button>
}

<div>

    @foreach (var item in Model)
    {
    <div class="col-sm-6" id="act-scroll">
        <a href="@Url.Action("Details", "Tournament", new { id=item.Id })">
            <div id="scroll-tab">
                <center><h4><b>@item.NameRus</b></h4></center>

                <table>
                    <tr id="scroll-details">
                        <th>
                            @Html.DisplayNameFor(model => item.MapVersion):
                        </th>
                        <td>
                            @Html.DisplayFor(model => item.MapVersion)
                        </td>
                    </tr>

                    <tr id="scroll-details">
                        <th>
                            Lorem Ipsum:
                        </th>
                        <td>
                            Dolor Sit Amet
                        </td>
                    </tr>
                </table>
                <div id="scroll-status-desc">
                @if (!item.IsFinished)
                {
                    if (item.IsActive) {<span style="color:orangered">Турнир в процессе</span>}
                    else {<span style="color:green">Открыта регистрация</span>}
                }
                else {<span style="color:darkred">Турнир завершен</span>}
                </div>
            </div>
        </a>       

    </div>
    }

    <br />
    <div class="col-sm-12">

        <label>Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount</label>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>

</div>

